.spec-code-block {
  background-color: #eeeedd;
  font-size: 1em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 10px;
  border: 1px solid #cfcfcf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}

.copy-btn {
  text-align: right;
  margin-left: -10px;
  margin-bottom: 5px;
  background-color: #f4f4f4;
  position: sticky;
  overflow: hidden;
  height: 35px;
}

.copy-btn input {
  background: #e1e1e1;
  color: #000;
  border: 0;
  font-weight: 500;
  padding: 7px;
  transition: background 1s;
  height: 35px;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

.highlight * {
  font-weight: 600;
}

/* -------------- Table-of-Contents ---------- */

.list-of-articles {
  background-color: beige;
  margin-right: 2px solid teal;
}

.list-of-articles ol li {
  margin-bottom: 0;
}

.list-of-articles h3,
.list-of-articles h4,
.list-of-articles h5 {
  color: teal;
}

.row ol {
  list-style-type: decimal;
}
